{% extends 'heritage/heritage.html.twig' %}


{% block sectionDocument %}
<div class="row justify-content-center">
    <!-- Portfolio Item 1-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
            <img class="img-fluid" src="assets/img/portfolio/ai1.png" alt="..." />
        </div>
    </div>
    <!-- Portfolio Item 2-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
            <img class="img-fluid" src="assets/img/portfolio/ai2.png" alt="..." />
        </div>
    </div>
    <!-- Portfolio Item 3-->
    <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
            <img class="img-fluid" src="assets/img/portfolio/ai3.png" alt="..." />
        </div>
    </div>
</div>
{% endblock %}

{% block formDocument %}
{% endblock %}
